body {
    background-color: black;
    margin-right: 10%;
    margin-left: 10%;
}

form {
    color: #000000;
}

#edit {
    color: #ffffff;
}

.table-nonfluid {
    width: auto !important;
}

.center-x {
    text-align: center;
}

#custom-navbar.navbar-default {
    font-size: 14px;
    background-color: rgba(248, 248, 248, 1);
    border-width: 1px;
    border-radius: 50px;
}