<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
    <script type="text/javascript" src="static/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="static/css/index.css" rel="stylesheet">
</head>
<body>
<div class="text-center">
    <br>
    <img src="static/img/Test_img.png" class="img-circle">
    <br>
    <br>
    <br>
    <form id="password" action="{{ url_for('test') }}" method="POST">
        <input type="password" name="pw" id="textfield" maxlength="21"><br>
        <br><br>
        <input type="image" src="static/img/enter_button.png" onmouseover="this.src='static/img/enter_button_hover.png'" onmouseout="this.src='static/img/enter_button.png'" alt="Enter">
    </form>
</div>
</body>
</html>