{% extends 'base.html' %}

{% block header %}
    <link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="text-center">
    <br>
    <img src="{{ url_for('static',filename='img/Test_img.png') }}" class="img-circle">
    <br>
    <br>
    <br>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li class="bg-danger">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form id="password" action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.password(placeholder="password", maxlength="21", id="textfield") }}
        <br><br><br>
        {{ form.submit(src=url_for('static',filename='img/enter_button.png'), type="image") }}
    </form>
</div>
{% endblock %}
