{% extends 'base.html' %}

{% block header %}
    <link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="text-center">
    <br>
    <img src="{{ url_for('static',filename='img/Test_img.png') }}" class="img-circle">
    <br>
    <br>
    <br>
    {{ form.password(maxlength="21", id="textfield") }}
    <form id="password" action="{{ url_for('test') }}" method="POST">
        <input type="password" name="pw" id="textfield" maxlength="21"><br>
        <br><br>
        <input type="image" src="static/img/enter_button.png" onmouseover="this.src='static/img/enter_button_hover.png'" onmouseout="this.src='static/img/enter_button.png'" alt="Enter">
    </form>
</div>
{% endblock %}
