{% extends 'base.html' %}

{% block header %}
<link href="{{ url_for('static',filename='css/base.css') }}" rel="stylesheet">
{% endblock %}


{% block navbar %}
<div id="navbar">
    <div class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="navbar-header"style="margin-left: 5%;">
            <a href="#" class="navbar-brand">tests</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Test</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right"style="margin-right: 5%;">
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>Exit</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
        </ul>
    </div>
</div>
{% endblock %}