{% extends 'base.html' %}

{% block content %}

<div id="custom-navbar" >
    <div class="navbar navbar-default navbar-static-top navbar-inverse">
		<div class="navbar-header" style="margin-left: 10%;">
        <a href="#" class="navbar-brand">tests</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('test') }}">Test</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right"style="margin-right: 10%;">
            <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span>Exit</a></li>
            <li><a href="{{ url_for('profile', id = current_user.id) }}"><span class="glyphicon glyphicon-user"></span>{{ current_user.realname }}</a></li>
        </ul>
    </div>
</div>

<div class="row">
{% if tests and not form %}
<div class="text-center" style="color: #ffffff;">
    {% for test in tests %}
        {% if test.running %}
            <a href="{{ url_for('run_test', id = test.id) }}">{{ test.name }}</a><br>
        {% else %}
            {{ test.name }}<br>
        {% endif %}
    {% endfor %}
</div>
{% elif form %}
<div class="text-center" >
    <form method="post" action="" style="color: #ffffff;">
    {% for field in form %}
        {{ form.hidden_tag() }}
        {% if field.type == 'RadioField'  %}
            {{ field.label }}
            {{ field }}
        {% endif %}
    {% endfor %}
    {{ form.submit(class="btn btn-default") }}
    </form>
</div>
{% else %}
    <p class="text-center" style="color: white;">Sorry, no tests to complete</p>
{% endif %}
</div>
{% endblock %}