{% extends 'base.html' %}

{% block content %}

<div id="custom-navbar" >
    <div class="navbar navbar-default navbar-static-top navbar-inverse">
		<div class="navbar-header" style="margin-left: 10%;">
        <a href="#" class="navbar-brand">tests</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('test') }}">Test</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right"style="margin-right: 10%;">
            <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span>Exit</a></li>
            <li><a href="{{ url_for('profile', id = current_user.id) }}"><span class="glyphicon glyphicon-user"></span>{{ current_user.realname }}</a></li>
        </ul>
    </div>
</div>

<div class="row">
{% if tests %}
<div class="text-center">
    <table class="table table-bordered">
     {% for test in tests %}
        <tr>
            {% if not test.running %}
            <td><a href="{{ url_for('edit_test',id = test.id) }}">{{ test.name }}</a></td>
            <td><a href="{{ url_for('run', id = test.id) }}">Run test</a></td>
            {% else %}
            <td>{{ test.name }}</td>
            <td><a href="{{ url_for('off', id = test.id) }}">turn off the test</a></td>
            {% endif %}
            <td><a href="{{ url_for('delete_test',id = test.id) }}">remove</a></td>

        </tr>
     {% endfor %}
    </table>
</div>
{% else %}
    <p class="text-center">Sorry, no tests</p>
{% endif %}
<p class="text-center"><a href="{{ url_for('edit_test') }}">Add new?</a></p>
</div>
{% endblock %}